*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;

    padding: 0;
    margin: 0;
}

/* header/nav styling */

.headerContainer{
    background: black;
}

header h2{
    color: white;
    margin: 0;
}

header div {
    padding: 5px;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav{
    flex: 1 1 100%;
    overflow: hidden;
    transition: height 0.5s;
}

nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li{
    padding: 8px 5px;
    border-bottom: 1px solid ; color: white;
}

nav ul li a{
    color: white;
    text-decoration: none;
    display: block;
}
/* main styling */

main{
    /* IE 11 browser fix */
    display: block;
    margin: 10px;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9rem;
}

.articles > div{
 flex: 1 1 50%;
 padding-right: 10px;
}

.articles img{
    width: 100%;
}

/* footer styling */

footer{
    background: black;
    margin-top: 10px;
    padding: 10px;
}

footer > div > p{
    color: white;
    text-align: center;
    font-size: 0.8rem;
}