<footer>
    <Div class="footerUl">
    <ul>
        <li> <a href="./footerLinks">Terms and Conditions</a></li>
        <li><a href="./footerLinks">Cookies Policy</a></li>
        <li><a href="./footerLinks">Privacy</a></li>
        <li><a href="./footerLinks">Accessibility</a></li>
        <Li> <a href="./contact">Contact</a> </Li>
    </Div>
        <div>
         <p>&copy; 2022 Prospero</p>
        </div> 
</footer>